<nav>
    <ul>
        <li {% if page.url=="/overview/" %}class="active" {% endif %}><a href="{{site.baseurl}}/overview/">Overview</a>
        </li>
        <li {% if page.url=="/" or page.url contains "/schedule/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/">Schedule</a></li>
        <li {% if page.url contains "/assignments/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/assignments/">Assignments</a></li>
        <!-- <li {% if page.url contains "project" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/final-project/">Final Project</a></li> -->
        <li {% if page.url contains "reference" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/design-reference/">Web Reference</a></li>
        <li><a href="https://drive.google.com/drive/folders/1Ym8GBef1YiuwanRfXkqdD55_EpgE7c4E"
                target="_blank">Videos</a></li>
    </ul>
</nav>