body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form span {
    font-size: 1.8em;
    font-weight: 600;
    font-family: monospace;
}

#formula {
    display: flex;
    align-items: flex-end;
}

.item {
    padding: 10px;
    border: solid 2px #CCC;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #F6F6F6;
}

form input {
    min-width: 200px;
    font-size: 1.1em;
    line-height: 1.4em;
    background: transparent;
    border: 0;
    border-bottom: solid 2px black;
    text-align: center;
}

form input:focus {
    outline: 0;
    border-bottom: solid 2px blue;
}

form button {
    font-size: 1.1em;
    line-height: 1.4em;
}

form input#thing-to-change {
    min-width: 250px;
    font-size: 1.2em;
    line-height: 1.5em;
}


header {
    padding: 0 30px;
    height: 130px;
    background-color: #f2d2d2;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a {
    align-self: flex-end;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    min-height: calc(100vh - 130px);
}

main section {
    padding: 20px;
    background-color: #F4F4F4;
    max-width: 50vw;
}

pre {
    font-size: 1.2em;
    font-weight: 500;
    font-family: monospace;
    min-height: 50px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}