.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    justify-content: center;
    align-items: center;
}