---
layout: default
---
{{content}}

{% assign dateStart = site.term_start_date | date: '%s' | times: 1 %}
{% assign dateEnd = site.term_end_date | date: '%s' | times: 1 %}
<!-- had to increase secondsPerDay from 86400 to 86500 to get this to work. So weird.-->
{% assign secondsPerDay = 86500 %}
{% assign num_weeks = dateEnd | minus: dateStart | divided_by: secondsPerDay | divided_by: 7 %}
<!-- This for loop is a hack. It generates MWF dates between a date range -->
{% assign dates = "" | split: ',' %}
{% for i in (0..num_weeks) %} 
    {% assign multiplier = i | times: 7 %}

    {% assign diff = secondsPerDay | times: multiplier %}
    {% assign multiplier = multiplier | plus: 3 %}
    {% assign diff = secondsPerDay | times: multiplier %}
    {% assign thurs = dateStart | plus: diff | date: "%Y-%m-%d" %}

    {% assign multiplier = multiplier | plus: 3 %}
    {% assign diff = secondsPerDay | times: multiplier %}
    {% assign sun = dateStart | plus: diff | date: "%Y-%m-%d" %}
    {% assign dates = dates | push: thurs | push: sun  %}
   
{% endfor %}


{% assign everything = site.assignments | concat: site.lectures | concat: site.quizzes %}
{% assign main_listing = site.lectures | concat: site.quizzes %}

<!-- This additional date loop adds any unorthodox deadlines -->
{% assign assignment_dates = everything | sort: 'due_date' | map: 'due_date' | uniq %}
{% for d in assignment_dates %}
    {% assign dd = d | date: "%Y-%m-%d" %}
    {% assign dates = dates | push: dd %}
{% endfor %}
{% assign dates = dates | uniq | sort_natural %}

<section class="schedule">
    <!-- gets a distinct list of dates from lectures and assignments -->
    <p>
        Note: This schedule is subject to change (as needed). 
    </p>
    <table>
        <thead>
            <tr>
                <th>Week</th>
                <th></th>
                <th>Topic</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% assign num = 0 %}
        {% for date in dates %}
            {% assign topic = site.lectures | where: 'due_date', date | where: 'type', 'module' | last %}
            {% assign holiday = site.lectures | where: 'due_date', date | where: 'type', 'holiday' | last %}
            {% assign lecture = main_listing | where: 'due_date', date | last %}
            {% assign deadline = site.lectures | where: 'due_date', date | where: 'type', 'deadline' | last %}
            {% assign lab_start = site.assignments | where: 'start_date', date | where: 'type', 'tutorial' | last %}
            {% assign assignments = site.assignments | where: 'due_date', date %}
            
            <!-- Calculate the Week -->
            {% assign dateStart = site.term_start_date | date: '%s' %}
            {% assign lectureDate = date | date: '%s' %}
            {% assign diffSeconds = lectureDate | minus: dateStart %}
            {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 | plus: 1 %}
            {% assign week = diffDays | divided_by: 7 | plus: 1 %}
            {% assign rowClass = "" %} 
            {% assign prefix = None %}
                        
            {% if topic %}
                {% assign rowClass = "section" %}
                {% assign num = topic.num %}
                {% assign prefix = topic.abbreviation %}
                {% if prefix == null %}
                    {% assign prefix = "Topic " | append: num %}
                {% endif %}
            {% endif %}
            {% if holiday %}
                {% assign rowClass = "holiday" %}
            {% endif %}
            <tr class="{{rowClass}}">
                <th>
                {% assign mod = diffDays | modulo: 7 %}

                {% if mod == 3 %}
                    Week {{week}}
                {% endif %}
                {% if mod == 4 %}
                    Week {{week}}
                {% endif %}
                <span class="due-date">
                    {{ date | date: "%m/%d/%y" }} - {{diffDays}}
                </span>
                </th>
                {% if lecture %}
                    <!-- If lecture -->
                    <td> 
                        {{ date | date: "%a, %m/%d" }}
                    </td>
                    <td>
                        {% assign className = 'lec' %}
                        {% if lecture.type == 'review' or lecture.type == 'exam' or lecture.type == 'quiz'%}
                            {% assign className = 'quiz' %}
                            {% assign prefix = lecture.type  | append: " " | append: lecture.num %}
                        {% endif %}
                        {% if lecture.type == 'tutorial' %}
                            {% assign className = 'lab' %}
                            {% assign prefix = "Tutorial " | append: lecture.num %}
                        {% endif %} 

                        <!-- output -->
                        {% if lecture.type == "tutorial" %}
                            
                        {% elsif lecture.draft == 1 and prefix %}
                            <span class="badge">
                                {{ prefix }}
                            </span>
                            {{ lecture.title }} 
                        {% elsif prefix %} 
                            <a class="{{ className }}" href="{{site.baseurl}}{{lecture.url}}">
                                {{ prefix }} <i class="fas fa-link"></i>
                            </a>
                            {{ lecture.title }} 
                        {% else %}
                            {{ lecture.title }} 
                        {% endif %}
                    </td>
                {% else %}
                    <!-- If no lecture -->
                    <td>{{ date | date: "%a, %m/%d" }}</td>
                    <td></td>
                {% endif %}
                <td>
                    {% for assignment in assignments %}
                        {% assign classname = "pj" %}
                        {% if assignment.type == "homework" %}
                            {% assign classname = "hw" %}
                        {% endif %} 
                        {% if assignment.type == "tutorial" %}
                            {% assign classname = "lab" %}
                        {% endif %} 
                        
                        {% if assignment.draft == 1 %}
                            <strong>{{ assignment.abbreviation }}:</strong> {{ assignment.title }}<br>
                        {% else %} 
                            <a href="{{site.baseurl}}{{assignment.url}}" class="{{classname}}">
                                {{ assignment.abbreviation }}
                                <i class="fa fa-link"></i>
                            </a> {{ assignment.title }}<br>
                        {% endif %} 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
