body {
    max-width: 600px;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#answer {
    padding: 10px;
    background: #F0F0F0;
    min-height: 100px;
    margin-top: 10px;
    width: 400px;
}